<!DOCTYPE HTML>
{% load static %}
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>lk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Python</strong> Developer</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="elements.html">Blog</a>
						<a href="store">Store</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
						<a href="elements.html">Terms and Conditions</a>
						<a href="elements.html">Privacy Policy</a>
						<a href="elements.html">ContactUs</a>
						<a href="elements.html">AboutUs</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">

				<div class="inner">
					<h3 align="center">{{dt}}</h3>
					<header>
						<h1>Hello This is Lakshmikanth</h1>

					</header>

					<div class="flex ">

						<div>

							<img src="{% static 'images/GitHub-Mark-64px.png' %}" alt="Pic 02" />

							<h3><a href="https://github.com/lakshmikanthboda">GitHub</a></h3>
							<p>My Projects </p>
						</div>

						<div>
							<img src="{% static 'images/icons8-linkedin-2-64.png' %}" alt="Pic 02" />

							<h3><a href="https://in.linkedin.com/in/lakshmikanth-boda-802173167">Linkedin</a></h3>
							<p>Linkedin Profle</p>
						</div>

						<div>
							<img src="{% static 'images/icons8-facebook-64.png' %}" alt="Pic 02" />

							<h3><a href="https://facebook.com/lakshmi.kanth.73550">Facebook</a></h3>
							<p>Facbook Profle</p>
						</div>

					</div>

					<footer>
						<a href="/" class="button">Python for Life</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{% static 'images/images.jpg' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>Django</h3>
							</header>
							<p>Django is a high-level Python Web framework that encourages rapid development<br />I Develop Django websites <br />Contact Me if you want any websites using Django.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{% static 'images/download (1).jpg' %}" alt="Pic 02" />
							</div>
							<header>
								<h3>Selenium python</h3>
							</header>
							<p>Selenium is an open-source web-based automation tool<br />I will write Selenium scripts to Automate things on websites <br /> Contact Me if you want any automation tasks</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="cus" method="get">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; lakshmikanth 2020.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>