{% load static %}
<html>
<head>  <title>LK Stores</title>
    <script type="text/javascript" src="https://payhip.com/payhip.js?v=24u68984"></script>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script></head>
<body style="background-color:#B0E0E6;">
        <a href="/">
        <img src="{% static 'images/icons8-home-128.png' %}" alt="Pic 01" />
    </a>
<center>

  <div class="card" style="width:400px">
      <img class="card-img-bottom" src="https://res.cloudinary.com/payhip/image/fetch/https://pe56d.s3.amazonaws.com/o_1e3s225e1123c8il1ram66f1me217.jpg" alt="Card image" style="width:100%">
    <div class="card-body" style="background-color:#F1E026;">
      <h4 class="card-title">Automatic Retweet Bot</h4>
      <p class="card-text">Automatic Retweet Bot helps you to retweet all the tweets for the hastage or keyword you provide
<br>
uses:
--> Used for Retweeting to make it Trend on Twitter<br>

-->  Retweeting Tweets may provide you with more followers

and much more its all on you how you will use this bot </p>
        <h3>15 $</h3>
      <a href="https://payhip.com/b/OG6I" class="payhip-buy-button" data-theme="green" data-product="OG6I">Buy Now</a>

    </div>

  </div>
</div>
</center>

<center>
 <div class="payhip-embed-page" data-key="OG6I">...</div><script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
<br>
    <div class="payhip-embed-page" data-key="IQ1T">...</div><script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
    <br>
  <div class="card" style="width:400px">
      <img class="card-img-bottom" src="https://res.cloudinary.com/payhip/image/fetch/https://pe56d.s3.amazonaws.com/o_1e028papad8f11u61tqi1kpk1m1d15.png" alt="Card image" style="width:100%">
    <div class="card-body" style="background-color:#F1E026;">
      <h4 class="card-title">Automatic Unlimited Email Software + Key</h4>
      <p class="card-text">Send Unlimited Emails in one click
This software can send emails automaticly to your mailing list in one click.
All mails are sent to Inbox as it uses Google account<br>
Specifications:<br>
Windows 7+ with 64 bit Operating system </p>
        <h3>10 $</h3>
      <a href="https://payhip.com/b/IQ1T" class="payhip-buy-button" data-theme="green" data-product="IQ1T">Buy Now</a>

    </div>

  </div>
</div>
</center>



</body>
</html>